# 반복문

In [2]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [6]:
for i in range(1,10):
    print(2,'*',i,'=',2*i)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

In [7]:
for i in 1,2,3,4:
    print(i)

1
2
3
4

In [8]:
for i in '문근영':
    print(i)

문
근
영

In [9]:
for i in {1,2,3}:
    print(i)

1
2
3

In [10]:
for i in {3,2,1}: # set은 sequence가 아니다!!!! 단지 시스템 내부적으로 정렬해서 가지고 있는 것일 뿐이다.
    print(i)

1
2
3

In [11]:
for i in {'a':1 , 'b':2 }:
    print(i)

a
b

## dictionary view(딕셔너리 뷰)

In [12]:
for i in {'a':1 , 'b':2 }.values():
    print(i)

1
2

In [13]:
for i in {'a':1 , 'b':2 }.keys():
    print(i)

a
b

In [14]:
for i in {'a':1 , 'b':2 }.items():
    print(i)

('a', 1)
('b', 2)

In [16]:
for i,j in {'a':1 , 'b':2}.items():
    print(i,j)

a 1
b 2

In [21]:
%%time
for a in range(1,10):
    if a%2 == 0:
        print(2,'*',a,'=',2*a);

2 * 2 = 4
2 * 4 = 8
2 * 6 = 12
2 * 8 = 16
CPU times: user 654 µs, sys: 575 µs, total: 1.23 ms
Wall time: 730 µs

In [22]:
%%time
for i in range(2,10,2):
    print(2,'*',i,'=',2*i);

2 * 2 = 4
2 * 4 = 8
2 * 6 = 12
2 * 8 = 16
CPU times: user 519 µs, sys: 277 µs, total: 796 µs
Wall time: 561 µs

In [24]:
for i in range(2,10):
    for j in range(2,10):
        print(i,'*',j,'=',i*j)
    print()

2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36

5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54

7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72

9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [26]:
for i in range(3,10,2):
    for j in range(2,10):
        print(i,'*',j,'=',i*j)
    print()

3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [39]:
x = input()

1

In [40]:
type(x)

str

In [41]:
x = int(input())

23

In [47]:
x = int(input())
for i in range(2,10):
    print(x,'*',i,'=',x*i)

6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54