# 왼쪽에 문자가 오고 오른쪽에 식이 오는 것을 '할당문'이라고 한다

In [1]:
x,y=1,2

In [2]:
x,y=1,2,3

ValueError: too many values to unpack (expected 2)

In [3]:
x

1

In [4]:
x=1,2,3

In [5]:
x   #tuple로 변한다.

(1, 2, 3)

In [6]:
x=1,2,3,  #맨 뒤의 , 는 인식을 하지 않는다

---

# tuple로 적용하려면 , 가 꼭 필요하다.

In [7]:
y=(1)

In [8]:
y

1

In [9]:
y=(1,)

In [10]:
y

(1,)

In [11]:
y=1,

In [12]:
y

(1,)

In [13]:
x,y=1,2,3

ValueError: too many values to unpack (expected 2)

In [15]:
x,y=1,2,3,  #변수가 2개 이상일때는 변수 지정값을 똑같이 맞춰줘야한다.

ValueError: too many values to unpack (expected 2)

In [17]:
x, =1,2,3  # 왼쪽에 ,만 딸랑 쓰면 안된다.

ValueError: too many values to unpack (expected 1)

# unpacking 기법

In [18]:
x,y,*z=1,2,3,4

In [25]:
x

1

In [20]:
y

2

In [21]:
z

[3, 4]

In [30]:
type(z)  # *는 나머지 원소들을 의미  --- 이 기법을 unpacking 이라고 지칭함.

int

In [27]:
x,*y,z=1,2,3,4

In [29]:
y

[2, 3]

In [32]:
x,y,z=[1,2,3]

In [33]:
x

1

In [34]:
y

2

In [35]:
z

3

In [36]:
z,y,*z=[1,2,3,4,5]

'd'

In [37]:
x,*y,z='문근영 미인'

In [38]:
x

'문'

In [39]:
y

['근', '영', ' ', '미']

In [40]:
z

'인'

In [42]:
x,*y,z={'a':1, 'b':2,'c':3,'d':3}

In [43]:
y

['b', 'c']

In [50]:
x,y,*z=[1,2,3,4,5]

In [53]:
y,1

((1,), 1)

In [54]:
range(10)

range(0, 10)

In [55]:
x,*z=range(10)

In [56]:
x

0

In [57]:
z

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [61]:
*x='문근영미인'  #작동 안됌 -- *만 있을때는 안됌

SyntaxError: starred assignment target must be in a list or tuple (<ipython-input-61-25e8c47554bd>, line 4)

In [60]:
*x , ='문근영미인' # 작동 됌   --원래는 , 찍으면 작동안된다.
                   # *가 나머지이므로 반대로 둘다 쓸 경우엔 됌

In [62]:
x,z,=range(10)

ValueError: too many values to unpack (expected 2)

In [63]:
x,*z,=range(10)

In [64]:
z

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [65]:
x

0

In [66]:
x=range(10)

In [67]:
x

range(0, 10)

In [69]:
a=1
if a>0: #두껍게 나옴. 참과 거짓을 판단하는 식이 온다.
    print('x')    #스페이스바 4번
else:
    print('y')

x

In [71]:
a=1
if True:
    print('x')
else:
    print('y')

x

In [74]:
a=1
if [1]:     #list 자체를 true로 변환 
    print('x')
    print('1')

x
1

In [73]:
1==[1]

False

# { } ---> 집합(=set)

## a=??  우측에 무슨 값이 있으면 참, 없으면 거짓

In [78]:
a=''  # 없는 것을 문자열로 가지므로 없다.
if a:
    print('x')
else:
    print('y')

y

In [79]:
a={''}   ##없는 것을 원소로 하기때문에(=공집합을 원소로하기때문에)
if a:
    print('x')
else:
    print('y')

x

In [82]:
a= None
if a:
    print('x')
else:
    print('y')

y

In [81]:
None ==False   # == 는 값이 같아야한다. none은 값이 없는것이고, false는 값이 0

False

In [83]:
a=''
if 0 < a < 3 or 5 < a < 8:
    print('x')
else:
    print('y')

TypeError: '<' not supported between instances of 'int' and 'str'

In [85]:
3 and 2   # and는 둘다 참이여야하고, 둘다 참이면 뒤에것을 산출한다

2

In [91]:
'' and 3  # 거짓이면, 거짓인 것을 산출한다.
          # 여러개가 거짓일 경우 첫번째 거짓을 산출한다

''

In [95]:
' ' and '' #' '는 없는 것이 아님, space bar가 입력되었으므로

''

In [97]:
'' and 1/0  # 1/0는 에러가 뜬다. 하지만,''에서 이미 값이없으므로, ''가 바로산출됨

''

In [98]:
1/0 and '' # 1/0가 먼저 연산되어서 에러가뜬다

ZeroDivisionError: division by zero

# 정리

- A and B 
    - A가 truely이면 B 체크 >B
    - A가 falsely이면 A
- A or B
    - A가 true이면 A
    - A가 false이면 B 체크 >B

In [100]:
'' and 1

''

In [101]:
1 and 2

2

In [104]:
1 and ''

''

In [105]:
1 or 2

1

In [109]:
 '' or 1

1

### 조건문 만드는 방식(if 사용)

- if를 복잡하게 설정

- if 를 이중으로 설정

- if 와 elfi를 사용

In [110]:
for a in range(10):
    print(a)

0
1
2
3
4
5
6
7
8
9
The history saving thread hit an unexpected error (OperationalError('database or disk is full')).History will not be written to the database.

### in 뒤에는 container가 온다

- mutable
- container
    - sequence : indexing/slicing
    - iterable : container의 대부분을 차지

In [111]:
for a in range(1,10):
    print(2,'*',a)

2 * 1
2 * 2
2 * 3
2 * 4
2 * 5
2 * 6
2 * 7
2 * 8
2 * 9

In [113]:
2*a

18

In [115]:
for b in range(1,10):
    for a in range(1,10):
        print(b,'*',a)

1 * 1
1 * 2
1 * 3
1 * 4
1 * 5
1 * 6
1 * 7
1 * 8
1 * 9
2 * 1
2 * 2
2 * 3
2 * 4
2 * 5
2 * 6
2 * 7
2 * 8
2 * 9
3 * 1
3 * 2
3 * 3
3 * 4
3 * 5
3 * 6
3 * 7
3 * 8
3 * 9
4 * 1
4 * 2
4 * 3
4 * 4
4 * 5
4 * 6
4 * 7
4 * 8
4 * 9
5 * 1
5 * 2
5 * 3
5 * 4
5 * 5
5 * 6
5 * 7
5 * 8
5 * 9
6 * 1
6 * 2
6 * 3
6 * 4
6 * 5
6 * 6
6 * 7
6 * 8
6 * 9
7 * 1
7 * 2
7 * 3
7 * 4
7 * 5
7 * 6
7 * 7
7 * 8
7 * 9
8 * 1
8 * 2
8 * 3
8 * 4
8 * 5
8 * 6
8 * 7
8 * 8
8 * 9
9 * 1
9 * 2
9 * 3
9 * 4
9 * 5
9 * 6
9 * 7
9 * 8
9 * 9

In [128]:
for i in '문근영':  # ---> '문근영' 은 컨테이너
    print(i)

문
근
영

# dictionary

In [122]:
for i in {'a':1, 'b':2}.values():
   print(i)

1
2

In [124]:
for i in {'a':1, 'b':2}.keys():
   print(i)

a
b

In [125]:
for i in {'a':1, 'b':2}.items():
   print(i)

('a', 1)
('b', 2)

In [127]:
for i,j in{'a':1, 'b':2}.items(): #dictionary에 unpacking 사용
    print(i,j)

a 1
b 2

In [141]:
%%time
for a in range(1,10):
    if a % 2 ==0:
        print(2,'*',a,'=',2*a)

2 * 2 = 4
2 * 4 = 8
2 * 6 = 12
2 * 8 = 16
Wall time: 998 µs

In [145]:
%%time
for a in range(2,10,2):
    print(2,'*',a,'=',2*a)

2 * 2 = 4
2 * 4 = 8
2 * 6 = 12
2 * 8 = 16
Wall time: 996 µs

In [156]:
for i in range(2,10):
    for j in range(1,10):
        print(i,'*',j,'=',i*j)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [1]:
for i in range(1,10,2):
    for x in range(1,10):
        print(i,'*',x,'=',i*x)

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [152]:
x=int(input())

2

In [153]:
x

2

In [154]:
x=input()

아브라카다브라

In [155]:
x

'아브라카다브라'

In [157]:
x=int(input('숫자를 입력하세요'))
for i in range(1,10):
    print(x,'*',i,'=',x*i)

숫자를 입력하세요5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

In [ ]:
x=int(input('숫자를 입력하세요'))
print(int((1+x)*x/2))

In [ ]:
x=int(input('숫자를 입력하세요:'))
sum=0
for i in range(1,x+1):
    sum=sum+i

print(sum)

# ctrl + f 는 '기능 검색 및 실행'

# ctrl + z 되돌리기

# restart kunel 누르면, 새로고침된다.
- 용량이 커서, 실행 잘 안될때 쓰자.