In [1]:
a=b=c=1

In [2]:
del b

In [3]:
a

1

# 할당 6가지

1.키워드는 할당이 안되고, sum 같은거 할당할 때 주의할 것. x=1 꼴에서 x가 초록색으로 변하면 주의하자. 변수가 아님.
2.mutable일때 주의하기
3.a+b
4.a,b=2,4  --1)개수맞추기. 2)중간에 잘적어주기
5.* unpacking
6.global 밖에서는 안에서 해줄수있지만, 안에서는 밖에서 못해준다.

# First Class Fuction

In [4]:
funcs=[bark, str.lower, str.capitalize]

NameError: name 'bark' is not defined

In [5]:
def x():
    return 1

In [6]:
a=[x,x]   #callable,

In [7]:
callable=x

In [9]:
x

In [10]:
a[0]()

1

In [12]:
def y(fun):
    return fun()

In [13]:
y()

TypeError: y() missing 1 required positional argument: 'fun'

In [14]:
y(x)

1

In [15]:
y(1)

TypeError: 'int' object is not callable

In [16]:
def xx(x:int) -> int:
    return x

In [17]:
a=0
xx(3 if a>0 else 65)

65

In [19]:
def xx(x or 3):    #parameter는 식이 올 수 없다. argument는 가능
    return x

SyntaxError: invalid syntax (<ipython-input-19-45474d004cd0>, line 1)

In [22]:
def yy(y,x=[]):
    return x.append(y)

In [23]:
yy(1)   #실행이 안된다. why? 아무값도 안나오면 none.

In [24]:
def yy(y,x=[]):
    x.append(y)
    return x

In [25]:
yy(1)  #이건 되네.

[1]

In [28]:
y, x=[]):
    x.append(y)
    return x

SyntaxError: invalid syntax (<ipython-input-28-d5840106f6d3>, line 1)

### 디폴트값에 리스트를 넣었더니

In [29]:
import time

In [32]:
time.time()  #값이 계속변한다.

1557209748.4386444

In [33]:
def zz(t=time.time()):
    return t

In [35]:
zz()   #값이 한번정해지면 안바뀜

1557209776.381929

### 키워드 포지션 혼용은 되지만, 키워드가 포지션으로 바뀌는(그 반대도) 경우는 없다.

In [36]:
map, filter, reduce

NameError: name 'reduce' is not defined

In [38]:
def a(x):    #함수형 페러다임 기법--매우 실용적
    return x+1

In [39]:
list(map(a,[1,2,3]))

[2, 3, 4]

In [ ]:
temp[]:
for

# predicate function

In [40]:
def b(x):
    return x>3

In [41]:
list(filter(b,[1,2,3,4,5,6]))

[4, 5, 6]

In [42]:
#tiler는 true만 받아들인다.

# 별표 사용법

In [43]:
# 별표 사용법

별표로 했을때 나머지는 리스트
함수의 리턴값은

In [64]:
import matplotlib.pyplot as plt

In [66]:
plt.bar
 # plt.bar(x, height, width=0.8, bottom=None, *, align='center', data=None, **kwargs,)
# *뒤에서는 키워드 방식으로밖에 못나타낸다. (*앞은 상관없다.) align='center', data=None  이런것처럼

In [ ]:
mutable인 a가 나오면, default들어가면 박제되서 값이 안바뀐다. 등등

In [44]:
# ** ->가변키워드 이다 --가변키워드의 데이터타입은 ,diction={'a'=1}      등등의 총 7가지 방식 탐구

In [46]:
def c(*x):  # 가변포시져섦 방식
    return x

In [49]:
c(*[1,2,3,54,5,]) # *는 어떠한대상을 배끼는 역할을 한다. = unpacking

(1, 2, 3, 54, 5)

In [67]:
g(**{'a':1,'b':1,'a':3})

NameError: name 'g' is not defined

In [48]:
c([1,2,3,54,5,])

([1, 2, 3, 54, 5],)

In [50]:
c(*[1,2,3,54,5,])

(1, 2, 3, 54, 5)

In [51]:
d=[1,2,3,4,5]

In [52]:
def c(*x):
    return x

In [53]:
c(d)

([1, 2, 3, 4, 5],)

In [55]:
c(*d)   #쪼개서 넣고싶다 , unpacking

(1, 2, 3, 4, 5)

In [61]:
#parameter에 있는 *는 가별   - - -  *(이름없음)-- 키워드 // *이름 -- 가변포지션   ->ex in[52]:    c(*x):  여기서 가변포지션으로 사용
#argument에 있는 *는 쪼개는 역할

In [58]:
def x(t):
    return t+1

In [59]:
map(x, *[[1,2,3,4,54,5,],[2,3,4]])

shift tab 치면
Init signature: map(self, /, *args, **kwargs)                  --parameter


Docstring:     
map(func, *iterables) --> map object                         ---argument

In [60]:
plt.plot

NameError: name 'plt' is not defined

In [62]:
plt.plot()

NameError: name 'plt' is not defined

In [63]:
import plt

ModuleNotFoundError: No module named 'plt'

### hashable =immutable

In [70]:
import pandas as pd

In [71]:
data=pd.read_csv

In [72]:
import seaborn as sns

In [73]:
tips = sns.load_dataset('tips')

In [74]:
tips.head

<bound method NDFrame.head of      total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
5         25.29  4.71    Male     No   Sun  Dinner     4
6          8.77  2.00    Male     No   Sun  Dinner     2
7         26.88  3.12    Male     No   Sun  Dinner     4
8         15.04  1.96    Male     No   Sun  Dinner     2
9         14.78  3.23    Male     No   Sun  Dinner     2
10        10.27  1.71    Male     No   Sun  Dinner     2
11        35.26  5.00  Female     No   Sun  Dinner     4
12        15.42  1.57    Male     No   Sun  Dinner     2
13        18.43  3.00    Male     No   Sun  Dinner     4
14        14.83  3.02  Female     No   Sun  Dinner     2
15        21.58  3.92    Male     No   Sun  Dinner     2
16        10.33  1.67  Female     No   Sun  Dinner     3
17        16.29  3.71    Male     No   Sun  Dinner     3
18        16.97  3.50  Female     No   Sun  Dinner     3
19        20.65  3.35    Male     No   Sat  Dinner     3
20        17.92  4.08    Male     No   Sat  Dinner     2
21        20.29  2.75  Female     No   Sat  Dinner     2
22        15.77  2.23  Female     No   Sat  Dinner     2
23        39.42  7.58    Male     No   Sat  Dinner     4
24        19.82  3.18    Male     No   Sat  Dinner     2
25        17.81  2.34    Male     No   Sat  Dinner     4
26        13.37  2.00    Male     No   Sat  Dinner     2
27        12.69  2.00    Male     No   Sat  Dinner     2
28        21.70  4.30    Male     No   Sat  Dinner     2
29        19.65  3.00  Female     No   Sat  Dinner     2
..          ...   ...     ...    ...   ...     ...   ...
214       28.17  6.50  Female    Yes   Sat  Dinner     3
215       12.90  1.10  Female    Yes   Sat  Dinner     2
216       28.15  3.00    Male    Yes   Sat  Dinner     5
217       11.59  1.50    Male    Yes   Sat  Dinner     2
218        7.74  1.44    Male    Yes   Sat  Dinner     2
219       30.14  3.09  Female    Yes   Sat  Dinner     4
220       12.16  2.20    Male    Yes   Fri   Lunch     2
221       13.42  3.48  Female    Yes   Fri   Lunch     2
222        8.58  1.92    Male    Yes   Fri   Lunch     1
223       15.98  3.00  Female     No   Fri   Lunch     3
224       13.42  1.58    Male    Yes   Fri   Lunch     2
225       16.27  2.50  Female    Yes   Fri   Lunch     2
226       10.09  2.00  Female    Yes   Fri   Lunch     2
227       20.45  3.00    Male     No   Sat  Dinner     4
228       13.28  2.72    Male     No   Sat  Dinner     2
229       22.12  2.88  Female    Yes   Sat  Dinner     2
230       24.01  2.00    Male    Yes   Sat  Dinner     4
231       15.69  3.00    Male    Yes   Sat  Dinner     3
232       11.61  3.39    Male     No   Sat  Dinner     2
233       10.77  1.47    Male     No   Sat  Dinner     2
234       15.53  3.00    Male    Yes   Sat  Dinner     2
235       10.07  1.25    Male     No   Sat  Dinner     2
236       12.60  1.00    Male    Yes   Sat  Dinner     2
237       32.83  1.17    Male    Yes   Sat  Dinner     2
238       35.83  4.67  Female     No   Sat  Dinner     3
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]>

In [76]:
tips.sample()

     total_bill   tip   sex smoker   day   time  size
126        8.52  1.48  Male     No  Thur  Lunch     2

In [77]:
tips.sample(n=10)

     total_bill   tip     sex smoker   day    time  size
238       35.83  4.67  Female     No   Sat  Dinner     3
115       17.31  3.50  Female     No   Sun  Dinner     2
219       30.14  3.09  Female    Yes   Sat  Dinner     4
128       11.38  2.00  Female     No  Thur   Lunch     2
34        17.78  3.27    Male     No   Sat  Dinner     2
71        17.07  3.00  Female     No   Sat  Dinner     3
12        15.42  1.57    Male     No   Sun  Dinner     2
45        18.29  3.00    Male     No   Sun  Dinner     2
74        14.73  2.20  Female     No   Sat  Dinner     2
35        24.06  3.60    Male     No   Sat  Dinner     3

In [78]:
tips.sample(10)

     total_bill   tip     sex smoker   day    time  size
1         10.34  1.66    Male     No   Sun  Dinner     3
208       24.27  2.03    Male    Yes   Sat  Dinner     2
175       32.90  3.11    Male    Yes   Sun  Dinner     2
111        7.25  1.00  Female     No   Sat  Dinner     1
181       23.33  5.65    Male    Yes   Sun  Dinner     2
10        10.27  1.71    Male     No   Sun  Dinner     2
164       17.51  3.00  Female    Yes   Sun  Dinner     2
39        31.27  5.00    Male     No   Sat  Dinner     3
152       17.26  2.74    Male     No   Sun  Dinner     3
141       34.30  6.70    Male     No  Thur   Lunch     6

In [81]:
tips.sample(10,replace=True)   #--->shift tab 에서 찾아서 입력하기

     total_bill   tip     sex smoker   day    time  size
86        13.03  2.00    Male     No  Thur   Lunch     2
43         9.68  1.32    Male     No   Sun  Dinner     2
83        32.68  5.00    Male    Yes  Thur   Lunch     2
162       16.21  2.00  Female     No   Sun  Dinner     3
30         9.55  1.45    Male     No   Sat  Dinner     2
85        34.83  5.17  Female     No  Thur   Lunch     4
220       12.16  2.20    Male    Yes   Fri   Lunch     2
232       11.61  3.39    Male     No   Sat  Dinner     2
112       38.07  4.00    Male     No   Sun  Dinner     3
87        18.28  4.00    Male     No  Thur   Lunch     2

In [82]:
t= lambda x: x+1

In [83]:
def t(x):
    return x+1

In [84]:
map(lambda x:x+1, [1,2,3,4,5])

In [86]:
list(map(lambda x:x+1, [1,2,3,4,5]))

[2, 3, 4, 5, 6]

In [88]:
%time list(map(lambda x:x+1, range(100000)))

Wall time: 18 ms

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 545,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 573,
 574,
 575,
 576,
 577,
 578,
 579,
 580,
 581,
 582,
 583,
 584,
 585,
 586,
 587,
 588,
 589,
 590,
 591,
 592,
 593,
 594,
 595,
 596,
 597,
 598,
 599,
 600,
 601,
 602,
 603,
 604,
 605,
 606,
 607,
 608,
 609,
 610,
 611,
 612,
 613,
 614,
 615,
 616,
 617,
 618,
 619,
 620,
 621,
 622,
 623,
 624,
 625,
 626,
 627,
 628,
 629,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 640,
 641,
 642,
 643,
 644,
 645,
 646,
 647,
 648,
 649,
 650,
 651,
 652,
 653,
 654,
 655,
 656,
 657,
 658,
 659,
 660,
 661,
 662,
 663,
 664,
 665,
 666,
 667,
 668,
 669,
 670,
 671,
 672,
 673,
 674,
 675,
 676,
 677,
 678,
 679,
 680,
 681,
 682,
 683,
 684,
 685,
 686,
 687,
 688,
 689,
 690,
 691,
 692,
 693,
 694,
 695,
 696,
 697,
 698,
 699,
 700,
 701,
 702,
 703,
 704,
 705,
 706,
 707,
 708,
 709,
 710,
 711,
 712,
 713,
 714,
 715,
 716,
 717,
 718,
 719,
 720,
 721,
 722,
 723,
 724,
 725,
 726,
 727,
 728,
 729,
 730,
 731,
 732,
 733,
 734,
 735,
 736,
 737,
 738,
 739,
 740,
 741,
 742,
 743,
 744,
 745,
 746,
 747,
 748,
 749,
 750,
 751,
 752,
 753,
 754,
 755,
 756,
 757,
 758,
 759,
 760,
 761,
 762,
 763,
 764,
 765,
 766,
 767,
 768,
 769,
 770,
 771,
 772,
 773,
 774,
 775,
 776,
 777,
 778,
 779,
 780,
 781,
 782,
 783,
 784,
 785,
 786,
 787,
 788,
 789,
 790,
 791,
 792,
 793,
 794,
 795,
 796,
 797,
 798,
 799,
 800,
 801,
 802,
 803,
 804,
 805,
 806,
 807,
 808,
 809,
 810,
 811,
 812,
 813,
 814,
 815,
 816,
 817,
 818,
 819,
 820,
 821,
 822,
 823,
 824,
 825,
 826,
 827,
 828,
 829,
 830,
 831,
 832,
 833,
 834,
 835,
 836,
 837,
 838,
 839,
 840,
 841,
 842,
 843,
 844,
 845,
 846,
 847,
 848,
 849,
 850,
 851,
 852,
 853,
 854,
 855,
 856,
 857,
 858,
 859,
 860,
 861,
 862,
 863,
 864,
 865,
 866,
 867,
 868,
 869,
 870,
 871,
 872,
 873,
 874,
 875,
 876,
 877,
 878,
 879,
 880,
 881,
 882,
 883,
 884,
 885,
 886,
 887,
 888,
 889,
 890,
 891,
 892,
 893,
 894,
 895,
 896,
 897,
 898,
 899,
 900,
 901,
 902,
 903,
 904,
 905,
 906,
 907,
 908,
 909,
 910,
 911,
 912,
 913,
 914,
 915,
 916,
 917,
 918,
 919,
 920,
 921,
 922,
 923,
 924,
 925,
 926,
 927,
 928,
 929,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 940,
 941,
 942,
 943,
 944,
 945,
 946,
 947,
 948,
 949,
 950,
 951,
 952,
 953,
 954,
 955,
 956,
 957,
 958,
 959,
 960,
 961,
 962,
 963,
 964,
 965,
 966,
 967,
 968,
 969,
 970,
 971,
 972,
 973,
 974,
 975,
 976,
 977,
 978,
 979,
 980,
 981,
 982,
 983,
 984,
 985,
 986,
 987,
 988,
 989,
 990,
 991,
 992,
 993,
 994,
 995,
 996,
 997,
 998,
 999,
 1000,
 ...]

In [89]:
s=lambda x:x if x>0 else 1

In [90]:
s(0)

1

####  lambda를 이용해서 나타낼 수 있다.

In [93]:
(lambda x:x-11)(3)

-8

###  너무 어렵다~~~~

In [95]:
(lambda x,y:x+y)(3) #이렇게 쓰면 안된다. 인자가 x,y 있지만 (3) 단 하나밖에 값이 없으므로 ->(3,6)으로 바꾼다

TypeError: <lambda>() missing 1 required positional argument: 'y'

In [96]:
(lambda x,y:x+y)(3,6)

9

In [97]:
(lambda x,y=6:x+y)(3)    # --- y를 default값을 줬기 때문에, (3) 값이 하나만 있어도 산출이 가능하다.

9

In [98]:
(lambda *a:a)(6)

(6,)

In [101]:
def speak(text):
    def whisper(t):
        return t.lower()+'...'
    return whisper(text)

In [103]:
speak('Hello')

'hello...'

In [106]:
whisper('YO')

NameError: name 'whisper' is not defined

In [107]:
speak_func = get_speak_func(0.7)
#함수도 할당할 수 있다. (speak_func가 함수잖아)

NameError: name 'get_speak_func' is not defined

In [108]:
def make_adder(n):
    def add(x):
        return x + n
    return add

# 파이썬 공식사이트
python software foundation // https://docs.python.org

# closer 클로저 공부할 것

# 계속 LEGB 파일로 수업진행하심. 
강의 수업게시판 5/3 첨부파일

logic
global
built in

#  할당문 finish